#Flamengo{
    max-width: 200px;
    justify-content: center;
    text-align: center;
    display: flex;
}
#vasco{
    max-width: 150px;
    justify-content: center;
    text-align: center;
    display: flex;
}
#Fluminense{
    max-width: 150px;
    justify-content: center;
    text-align: center;
    display: flex;
}
#botafogo{
    max-width:300px;
    justify-content: center;
    text-align: center;
    display: flex;
}